.site-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
}

.site-header div {
    font-size: 16px;
}

.gnav__menu {
    display: flex;
}

.gnav__menu__item {
    margin-left: 20px;
}

html, body, #root, .App {
    height: 100%;
}

main {
    height: 100%;
    padding-top: 50px;
}

#change-of-month h2 {
    margin-bottom: 4px;
}

.chart-container {
    position: relative;
    width:  100%;
    height: calc(100% - (2rem + 5px));
    overflow: hidden;
    margin: auto;
}